<template>
    <div class="row">
        <appQuote v-for="(index,quote) in quotes" :key="quote"  @click.native="deleteQuote">
            {{index}}
        </appQuote>
    </div>
</template>

<script>
import Quote from './Quote';

export default {
    props :['quotes'],
    components : {
        appQuote : Quote
    },
    methods : {
        deleteQuote (quote) {
            this.$emit('quoteDeleted' ,quote);
        }
    }
}
</script>
