<template>
  <div class="container">
  <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>    <app-new-quote @quoteAdded ="newQuote"></app-new-quote>
    <app-quote-grid :quotes ="quotes" @quoteDeleted = "deleteQuote"></app-quote-grid>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info">
          Click on a Quote to delete it!
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QuoteGrid from './compnents/QuotesGrid';
import NewQuote from './compnents/NewQuote';
import Header from './compnents/Header';

  export default {
    data () {
      return {
        quotes : [
          'first Qout'
        ],
        maxQuotes : 10,
      }
    },
          methods : {
            newQuote (quote) {
                if (this.quotes.length >= this.maxQuotes) {
                    return alert('Please delete Quotes first!');
                }
                this.quotes.push(quote);
            },
            deleteQuote(index) {
              this.quotes.splice(index , 1);
              console.log(this.quotes);
            }
          },
    components :{
      appQuoteGrid : QuoteGrid,
      appNewQuote : NewQuote,
      appHeader : Header
    }
  }
</script>

<style scoped>

</style>
